<h1>Welcome to Fortuitous Finds</h1>
<h2> Fortuitous Finds is online marketplace for buying and selling goods. The option to have the item(s) delivered to you, at your convenience, is available in San Diego.</h2>
